name: Release

on:
  release:
    types: [published]

jobs:
  release:
    runs-on: ubuntu-latest
    steps:
      - name: Checkout repository
        uses: actions/checkout@v2
      - name: Setup Node.js
        uses: actions/setup-node@v2
      - uses: pnpm/action-setup@v2.0.1
        name: Install pnpm
      - name: Install Dependencies for Vite Plugin Relay
        run: pnpm i
      - name: Build Vite Plugin Relay
        run: pnpm build
      - name: Publish to NPM
        run: |
          npm config set //registry.npmjs.org/:_authToken ${NPM_TOKEN}
          npm publish
        env:
          NPM_TOKEN: ${{ secrets.NPM_TOKEN }}
